<!-- Dropdown Structure -->
<ul id="navbar-pasien" class="dropdown-content">
  <li><a href="/pasien/daftar/">daftar pasien</a></li>
</ul>
<ul id="navbar-kunjungan" class="dropdown-content">
  <li><a href="/kunjungan/daftar/">daftar kunjungan</a></li>
</ul>
<ul id="navbar-resep" class="dropdown-content">
  <li><a href="/apotek/resep/daftar/">daftar pembelian resep</a></li>
</ul>
<ul id="navbar-otc" class="dropdown-content">
  <li><a href="/apotek/resep/daftar/">daftar pembelian otc</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo right">BMG</a>
    <ul class="left">
      <li><a class="dropdown-trigger" href="#!" data-target="navbar-pasien">&nbsp;&nbsp;&nbsp;Pasien&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="navbar-kunjungan">&nbsp;&nbsp;&nbsp;Kunjungan&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="navbar-resep">Apotek Resep<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="navbar-otc">Apotek OTC<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>