<!-- Dropdown Structure -->
<ul id="navbar-pasien" class="dropdown-content">
  <li><a href="#!">daftar pasien</a></li>
  <li><a href="#!">two</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo right">Logo</a>
    <ul class="left">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="navbar-pasien">&nbsp;&nbsp;&nbsp;Pasien&nbsp;&nbsp;&nbsp;<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>