{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  {% include 'website/common_header.html' %}
	{% include 'website/common_daftar_header.html' %}
</head>
<body>
  {% include 'website/common_navbar.html' %}
  <div>
    <div class="row" style="margin-bottom: 0">
			<div class="input-field col s4">
				<input id="search-bar" type="text" class="validate">
        <label for="search-bar">Cari Pasien</label>
				<i id="search-btn" class="material-icons prefix right">search</i>
			</div>
    </div>
		<div class="row">
      <div style="overflow: auto; max-height: 65vh">
        <table class="highlight" id="data-table">
        </table>
      </div>
      <ul class="pagination" style="text-align: center">
        <li class="disabled" id="prev-page-btn"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!" id="page-number">1</a></li>
        <li class="waves-effect" id="next-page-btn"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
		</div>
  </div>
  {% include 'website/common_script.html' %}
<body>
<html>
<script src="{% static 'js/website/daftar/pasien.js' %}"></script>
<script>
  var Resource = Pasien
</script>
<script src="{% static 'js/website/table_builder.js' %}"></script>
<script src="{% static 'js/website/daftar/common_daftar.js' %}"></script>