{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  {% include 'website/common_header.html' %}
</head>
<style>
html,
body,
.login-box {
  height: 100%;
}
</style>
<body>
  <div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <form>
        <div class="card-content">
          <span class="card-title center-align" style="font-size: 2.5em">BMG Login</span>
          <div class="row">
            <div class="input-field col s12">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" />
            </div>
            <div class="input-field col s12">
              <label for="password">Password </label>
              <input type="password" name="password" id="password" />
            </div>
          </div>
        </div>
        <div class="card-action right-align">
          <button type="button" id="login-btn" class="btn blue waves-effect waves-light">Login</button>
        </div>
      </form>
    </div>
  </div>
  {% include 'website/common_script.html' %}
  <script src="{% static 'js/website/login/login.js' %}"></script>
</body>
</html>