<div class="container">
<form id="pasien-form" style="background-color: white;">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="row">
        <div class="input-field col s12">
          <h1>Form Pasien</h1>
        </div>
      </div>
      {% if pasien.no_pasien %}
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-no" name="pasien-no" type="text" class="validate" value="{{ pasien.no_pasien }}" disabled>
            <label class="active" for="pasien-no">No. Pasien</label>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="input-field col s12">
          <select id="pasien-kategori" name="pasien-kategori">
            <option value="" disabled selected>Kategori Pasien</option>
            {% if pasien.kategori %}
              <option value={{ pasien.kategori }} disabled selected>{{ pasien.kategori }}</option>
            {% else %}
              {% for kategori in kategori_pasien %}
                <option value="{{ kategori.0 }}">{{ kategori.0 }}</option>
              {% endfor %}
            {% endif %}
          </select>
          <label>Kategori Pasien</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-nama" name="pasien-nama" type="text" class="validate" value="{{ pasien.nama }}">
          <label class="active" for="pasien-nama">Nama Pasien</label>
        </div>
      </div>
      <div class="kategori-karyawan">
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-nip" name="pasien-nip" type="text" class="validate" value="{{ pasien.nip }}">
            <label class="active" for="pasien-nip">NIP Pasien</label>
          </div>
        </div>
      </div>
      <div class="kategori-keluarga">
        <div class="row">
          <div class="input-field col s12">
            <input id="karyawan-nip" name="karyawan-nip" type="text" class="validate" value="{{ pasien.nip }}">
            <label class="active" for="karyawan-nip">NIP Karyawan</label>
          </div>
        </div>
      </div>
      <div class="kategori-mitra">
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-organisasi" name="pasien-organisasi" type="text" class="validate" value="{{ pasien.organisasi }}">
            <label class="active" for="pasien-organisasi">Organisasi Pasien</label>
          </div>
        </div>
      </div>
      <div class="kategori-mahasiswa">
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-nim" name="pasien-nim" type="number" class="validate" value="{{ pasien.nim }}">
            <label class="active" for="pasien-nim">NIM Pasien</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-strata" name="pasien-starta" type="text" class="validate" value="{{ pasien.strata }}">
            <label class="active" for="pasien-strata">Strata</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-internasional" name="pasien-internasional" type="text" class="validate" value="{{ pasien.internasional }}">
            <label class="active" for="pasien-internasional">Mahasiswa Internasional?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-tpb" name="pasien-tpb" type="text" class="validate" value="{{ pasien.tpb }}">
            <label class="active" for="pasien-tpb">Mahasiswa TPB?</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-program-studi" name="pasien-program-studi" type="text" class="validate" value="{{ pasien.program_studi }}">
            <label class="active" for="pasien-program-studi">Program Studi Mahasiswa</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="pasien-fakultas" name="pasien-fakultas" type="text" class="validate" value="{{ pasien.fakultas }}">
            <label class="active" for="pasien-fakultas">Fakultas Mahasiswa</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-tipe-kartu" name="pasien-tipe-kartu" type="text" class="validate" value="{{ pasien.tipe_kartu_identitas }}">
          <label class="active" for="pasien-tipe-kartu">Tipe Kartu Identitas Pasien</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-nomor-kartu" name="pasien-nomor-kartu" type="text" class="validate" value="{{ pasien.nomor_kartu_identitas }}">
          <label class="active" for="pasien-nomor-kartu">Nomor Kartu Identitas Pasien</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-tempat-lahir" name="pasien-tempat-lahir" type="text" class="validate" value="{{ pasien.tempat_lahir }}">
          <label class="active" for="pasien-tempat-lahir">Tempat Lahir Pasien</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-tanggal-lahir" name="pasien-tanggal-lahir" type="text" class="datepicker" value="{{ pasien.tanggal_lahir }}">
          <label class="active" for="pasien-tanggal-lahir">Tanggal Lahir Pasien</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select id="pasien-gender" name="pasien-gender">
            {% if pasien.kategori %}
              <option value={{ pasien.gender }} disabled selected>{{ pasien.gender }}</option>
            {% else %}
              <option value="" disabled selected>Choose your option</option>
              <option value="Laki - laki">Laki - laki</option>
              <option value="Perempuan">Perempuan</option>
            {% endif %}
          </select>
          <label>Jenis Kelamin Pasien</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-email" name="pasien-email" type="text" value="{{ pasien.email }}">
          <label class="active" for="pasien-email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-no-telp" name="pasien-no-telp" type="number" value="{{ pasien.no_telepon }}">
          <label class="active" for="pasien-no-telp">No telp</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-no-hp" name="pasien-no-hp" type="number" value="{{ pasien.no_hp }}">
          <label class="active" for="pasien-no-hp">No HP</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-gol-darah" name="pasien-gol-darah" type="text" value="{{ pasien.golongan_darah }}">
          <label class="active" for="pasien-gol-darah">Golongan Darah</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-rhesus" name="pasien-rhesus" type="text" value="{{ pasien.rhesus }}">
          <label class="active" for="pasien-rhesus">Rhesus</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-catatan" name="pasien-catatan" type="text" value="{{ pasien.catatan }}">
          <label class="active" for="pasien-catatan">Catatan</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-alamat" name="pasien-alamat" type="text" value="{{ pasien.alamat }}">
          <label class="active" for="pasien-alamat">Alamat</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pasien-kota" name="pasien-kota" type="text" value="{{ pasien.kota }}">
          <label class="active" for="pasien-kota">Kota</label>
        </div>
      </div>
      <div class="row">
        <div class="col s3 offset-s9">
          <button class="btn waves-effect waves-light {{ button_status }}" id="submit-pasien">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<script>
  var context = '{{ context }}'
  var kategori_field = document.getElementById("pasien-kategori")

  function show_pasien_kategori_field(kategori) {
    class_name = "kategori-" + kategori.toLowerCase().split(' ')[0]
    Array.from(document.getElementsByClassName('kategori-mahasiswa')).forEach(function(element) {
      element.style.display = "none";
    })
    Array.from(document.getElementsByClassName('kategori-karyawan')).forEach(function(element) {
      element.style.display = "none";
    })
    Array.from(document.getElementsByClassName('kategori-mitra')).forEach(function(element) {
      element.style.display = "none";
    })
    Array.from(document.getElementsByClassName('kategori-keluarga')).forEach(function(element) {
      element.style.display = "none";
    })
    Array.from(document.getElementsByClassName(class_name)).forEach(function(element) {
      element.style.display = "block";
    })
  }

  show_pasien_kategori_field(kategori_field.value)
  kategori_field.addEventListener("change", function() {
    show_pasien_kategori_field(this.value)
  })
</script>
<script>
  new_pasien_field = {
    'pasien-kategori': 'kategori',
    'pasien-nama': 'nama',
    'pasien-tipe-kartu': 'tipe_kartu_identitas',
    'pasien-nomor-kartu': 'nomor_kartu_identitas',
    'pasien-tempat-lahir': 'tempat_lahir',
    'pasien-tanggal-lahir': 'tanggal_lahir',
    'pasien-email': 'email',
    'pasien-no-hp': 'no_hp',
    'pasien-gol-darah': 'golongan_darah',
    'pasien-rhesus': 'rhesus',
    'pasien-catatan': 'catatan',
    'pasien-alamat': 'alamat',
    'pasien-kota': 'kota'
  }
  existing_pasien_field = { ...new_pasien_field, 'pasien-no': 'no_pasien' }
  mahasiswa_field = {
    'pasien-nim': 'nim',
    'pasien-strata': 'strata',
    'pasien-internasional': 'internasional',
    'pasien-tpb': 'tpb',
    'pasien-program-studi': 'program_studi',
    'pasien-fakultas': 'fakultas'
  }
  karyawan_field = { 'pasien-nip': 'nip' }
  keluarga_field = { 'karyawan-nip': 'nip' }
  mitra_field = { 'pasien-organisasi': 'organisasi' }

  function get_fields_data(fields) {
    if(context == 'update') {
      fields = { 'pasien-no': 'no_pasien', ...fields }
    }

    data = {}
    Object.keys(fields).forEach(function(key){
      data[fields[key]] = document.getElementById(key).value
    })
    return data
  }

  function get_kategori_fields(kategori) {
    switch(kategori) {
      case 'Umum':
        return get_fields_umum()
      case 'Mahasiswa':
        return get_fields_mahasiswa()
      case 'Karyawan BMG':
      case 'Karyawan ITB':
        return get_fields_karyawan()
      case 'Mitra Kerja Sama':
        return get_fields_mitra()
      case 'Keluarga Karyawan ITB':
        return get_fields_keluarga()
      default:
        alert("Invalid kategori")
        throw "Invalid kategori"
    }
  }

  function get_fields_mahasiswa() {
    return fields = { ...new_pasien_field, ...mahasiswa_field }  
  }

  function get_fields_karyawan() {
    return fields = { ...new_pasien_field, ...karyawan_field }
  }

  function get_fields_umum() {
    return new_pasien_field
  }

  function get_fields_mitra() {
    return fields = { ...new_pasien_field, ...mitra_field }
  }

  function get_fields_keluarga() {
    return fields = { ...new_pasien_field, ...keluarga_field }
  }
</script>
<script>
  document.getElementById("submit-pasien").addEventListener("click", function(event){
    event.preventDefault()
    submit_pasien_data()
  });

  function validate_pasien_form(kategori) {
    fields = get_kategori_fields(kategori)
    invalid = false

    Object.keys(fields).forEach(function(key){
      element = document.getElementById(key)
      if(element.classList.contains('validate')) {
        if(element.value == "" || !element.value || !element.checkValidity()) {
          element.classList.add('invalid')
          invalid = true
        }
      }
    })

    if(invalid) {
      alert("Invalid form")
      throw "Invalid form"
    }
  }

  function submit_pasien_data() {
    var url = '/main/pasien/'
    if(context == 'update') {
      no_pasien = document.getElementById('pasien-no').value
      url = url + no_pasien + '/'
    }

    kategori = document.getElementById('pasien-kategori').value
    validate_pasien_form(kategori)
    data = get_fields_data(get_kategori_fields(kategori))

    turn_on_overlay()
    send_data(url, data, check_submit_response)
  }

  function check_submit_response(xhttp) {
    turn_off_overlay()
    if(xhttp.readyState == 4 && xhttp.status == 200) {
        alert("input data berhasil")
    } else if(xhttp.readyState == 4){
        alert(xhttp.responseText)
    }
  }
</script>