{% load static %}
{% block head %}
	{% include "../common_header.html" %}
	<link href="{% static 'css/login/login.css' %}" rel="stylesheet">
	<link href="{%url_for('static', filename='css/login/login_form.css')}}" rel="stylesheet">
	<title>{% pageTitle }}</title>
{% endblock %}
{% block body %}
<div class="container-fluid full-height">
	<div class="row full-height">
		<div class="col-md-6 left-logo-container">
			<div class="image-container">
				<image src="{% static 'img/login/eH.png' %}" alt="eHealth Logo"/>
			</div>		
		</div>
		<div class="col-md-6 right-login-container">
			<div class="login-container">
				<h1 class="title"> BMG eHealth </h1>
				{% include "../login/login_form.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script src="{% static 'js/login/login.js' %}"></script>
	{% include "../script_declaration.html" %}
{% endblock %}