.dropdown-toggle::after {
    display:none;
}

.logo {
	width: 50px;
}

.navbar-blue{
	background-color: #0074e4; 
}

.navigation-item {
	color: white;
}

.navigation-link {
	color: white;
}

.user {
	color: white;
	text-align: right;
}

.navbar {
	height:10%;
}

.dropdown-item {
    cursor: pointer;
}

#fullScreenToggle {
    background-color: #43425d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 16px;
    margin-right: 16px;
    border-color: white;
    cursor: pointer;
    width: auto;
    box-shadow: 2px 3px #888888;
}

#fullScreenToggle:hover {
    opacity: 0.8;
}