.full-height {
	height: 100%
}

.left-logo-container {
	background-image: url("../../img/login/background_web_transparent.png"), linear-gradient(45deg, #0074e4, white);
	background-position: center;
	width: 50%; 
	height: 100%;
}

.right-login-container {
	background-color: white; 
	width: 50%; 
	height: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;	
    height: 100%;
}

.image-container img {
    vertical-align: middle;
    width: 50%;
}

.login-container {
	background: #EEEEEE
    display: flex;
    height: 100%;
}

.title {
	padding-top: 20%;
	text-align: center;
}
