{% block head %}  
  <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-blue">
  <a class="navbar-brand" href="main">
      <image src="static/img/login/eH.png" alt="eHealth Logo" class="logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	
      <li class="nav-item dropdown">
        <a class="nav-link navigation-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Application
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="nav-logout">Logout</a>
          <a class="dropdown-item" id="nav-changePassword">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-exit">Exit</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link navigation-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Parameter
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"id="nav-daftarKelompokPasien">Daftar Kelompok Pasien</a>
          <a class="dropdown-item"id="nav-daftarKategoriPasien">Daftar Kategori Pasien</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"id="nav-daftarKota">Daftar Kota</a>
          <a class="dropdown-item"id="nav-daftarOrganisasi">Daftar Organisasi</a>
          <a class="dropdown-item"id="nav-daftarUnitKerja">Daftar Unit Kerja</a>
          <a class="dropdown-item"id="nav-daftarFakultas">Daftar Fakultas</a>
          <a class="dropdown-item"id="nav-daftarProgram">Daftar Program Studi</a>
          <a class="dropdown-item"id="nav-daftarStrata">Daftar Strata</a>
          <a class="dropdown-item"id="nav-daftarPelayanan">Daftar Pelayanan</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"id="nav-daftarTindakanDokter">Daftar Tindakan Dokter</a>
          <a class="dropdown-item"id="nav-daftarPemeriksaanMedis">Daftar Pemeriksaan Medis</a>
          <a class="dropdown-item"id="nav-daftarSpesialisDokter">Daftar Spesialisasi Dokter</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"id="nav-daftarSubsidi">Daftar Subsidi</a>
          <a class="dropdown-item"id="nav-parameterGlobal">Parameter Global</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      

      <li class="nav-item dropdown">
        <a class="nav-link navigation-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Data Pendukung
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="nav-obat">Obat</a>
          <a class="dropdown-item" id="nav-dokter">Dokter</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-sisaSubsidi">Sisa Subsidi Pasien</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link navigation-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pengelolaan Data Pasien
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="nav-inputDataMahasiswa">Input Data Mahasiswa</a>
          <a class="dropdown-item" id="nav-inputDataPegawaiITB">Input Data Pegawai ITB</a>
          <a class="dropdown-item" id="nav-inputDataPegawaiLain">Input Data Pegawai Lain</a>
          <a class="dropdown-item" id="nav-inputDataKeluargaPegawai">Input Keluarga Pegawai</a>
          <a class="dropdown-item" id="nav-inputDataPasienUmum">Input Data Pasien Umum</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-daftarPasien">Daftar Pasien</a>
          <a class="dropdown-item" id="nav-daftarMahasiswa">Daftar Mahasiswa</a>
          <a class="dropdown-item" id="nav-daftarPegawai">Daftar Pegawai</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link navigation-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pendaftaran Pasien
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="nav-pendaftaranDokter">Pendaftaran ke dokter</a>
          <a class="dropdown-item" id="nav-koreksiKunjungan">Koreksi data kunjungan pasien
          <a class="dropdown-item" id="nav-daftarKunjungan">Daftar Kunjungan Pasien</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-pendaftaranLab">Pendaftaran Lab dan Rontgen</a>
          <a class="dropdown-item" id="nav-daftarLab">Daftar pemeriksaan lab dan rontgen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-pendaftaranTindakan">Pendaftaran Tindakan langsung</a>
          <a class="dropdown-item" id="nav-daftarTindakan">Daftar tindakan langsung</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-buatSKS">Pembuatan Surat Keterangan Sehat</a>
          <a class="dropdown-item" id="nav-daftarSKS">Daftar Pembuatan Surat Keterangan Sehat</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-inputDiagnosis">Input Diagnosis Pasien</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link navigation-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Transaksi Apotek
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="nav-jualResep">Jual Obat dengan Resep</a>
          <a class="dropdown-item" id="nav-jualOTC">Jual Obat dengan OTC</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-koreksiPenjualanObat">Koreksi Penjualan Obat</a>
          <a class="dropdown-item" id="nav-daftarPenjualanObat">Daftar Penjualan Obat</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link navigation-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Report
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="nav-laporanTransaksiApotek">Laporan Transaksi Apotek</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-daftarKunjungan">Daftar Kunjungan</a>
          <a class="dropdown-item" id="nav-rekapitulasiKunjungan">Rekapitulasi Kunjungan</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="nav-laporanDaftarPasien">Daftar Pasien</a>
          <a class="dropdown-item" id="nav-diagnosis">Laporan Diagnosis Pasien</a>
        </div>
      </li>
    	{# this part will be used after front end design is finished
    	{% if user.isAdmin() %}
    		{% include "adminNavbarList.html" %}
    	{% elif user.isApotekerOTC() %}
    		{% include "apotekerOTCNavbarList.html" %}
    	{% elif user.isApotekerResep() %}
    		{% include "apotekerResepNavbarList.html" %}
    	{% elif user.isFrontOfficeAdmin() %}
    		{% include "frontOfficeAdminNavbarList.html" %}
    	{% endif %}
    	#}
    </ul>
  </div>
  <a class="user" href="main">Username</a>
  <button id='fullscreenToggle'>Fullscreen</button>
</nav>
{% endblock %}